<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sidnei.appgestao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="S-Gestão"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResumoVendas.ResumoVendasActivity"
            android:label="Gráfico"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Postos.PostosActivity"
            android:label="Controle de Tanques "
            android:screenOrientation="portrait" />
        <activity
            android:name=".FluxoCaixa.FechamentoCaixaActivity"
            android:label="Fechamento de Caixa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".estoque.ProdutosActivity"
            android:label="Listagem de Produtos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.MenuActivity"
            android:label="Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unidadeNegocio.SelecaoUnidadeActivity"
            android:label="Unidades de Negócio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pedidoCompra.PedidoCompraActivity"
            android:label="Pedido de Compra"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pedidoCompra.PedidoCompraItemActivity"
            android:label="Seleção"
            android:screenOrientation="portrait" />
        <activity
            android:name=".estoque.ProdDetalheActivity"
            android:label="Detalhe do Produto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FluxoCaixa.FechamentoPesquisaActivity"
            android:label="Filtrar Fechamento de Caixa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pedidoCompra.PedidoCompraMenu.MenuPedidoActivity"
            android:label="Menu Pedido de Compra"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".pedidoCompra.ListaPedidoCompraActivity"></activity>
    </application>

</manifest>